<configuration>

<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
  <encoder>
    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %-40logger{36} - %msg%n</pattern>
  </encoder>
</appender>
<appender name="FILE" class="ch.qos.logback.core.FileAppender">
  <file>output/crawljax-functional-testing-suite.log</file>

  <encoder>
    <pattern>%-30date %-10level %-10thread %-50logger{50} %-30([%file:%line])- %msg%n</pattern>
  </encoder>
</appender>

<!-- <logger name="main.java" level="DEBUG"/> -->

<root level="DEBUG">
	<appender-ref ref="FILE" />
	<appender-ref ref="STDOUT" />
</root>
</configuration>